{% extends 'infobase.html' %}

{% block monitor_block %}
    active
{% endblock %}

{% block page-main %}
    <div class="page-header">
        <h1>监测点列表
            <small></small>
        </h1>
    </div>
    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">监测点<i class="fa fa-thumb-tack pull-right"></i></div>
        <div class="panel-body">
            <div class="row" style="margin-bottom: 15px">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
                              搜索
                            </button>
                        </span>
                        <span class="input-group-btn text-right">
                            <!-- Button trigger modal --><!--
                            <button id="exportBatch" type="button" class="btn btn-primary">
                              批量导出
                            </button>-->
                            <button type="button" class="btn btn-success" data-toggle="exModal" data-target="#exModal"
                                    id="exModalButton">
                              批量导出
                            </button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->

            <table class="table table-bordered table-hover table-striped table-condensed">
                <thead>
                <tr>
                    <th>#</th>
                    <th>id</th>
                    <th>监测点号</th>
                    <th>物探点号</th>
                    <th>监测方法</th>
                    <th>照片</th>
                    <th>样品</th>
                    <th>流量</th>
                </tr>
                </thead>
                <tbody>
                {% for  monitor in monitors %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ monitor.id }}</td>
                        <td>{{ monitor.name }}</td>
                        <td>{{ monitor.geophysical_point }}</td>
                        <td>
                            {% if monitor.work_function == 0 %}
                                容器法
                            {% elif monitor.work_function == 1 %}
                                流速法(圆管)
                            {% elif monitor.work_function == 2 %}
                                流速法(方渠)
                            {% elif monitor.work_function == 3 %}
                                仪器法
                            {% elif monitor.work_function == 4 %}
                                无法监测
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-primary" href="/photo/?id={{ monitor.id }}"><i
                                    class="fa fa-trash-o">照片</i></a>
                        </td>
                        <td>
                            {% if monitor.work_function == 4 %}
                                <a class="btn btn-danger disabled" href="#"><i
                                        class="fa fa-trash-o">样品</i></a>
                            {% else %}
                                <a class="btn btn-success" href="/sample/?id={{ monitor.id }}"><i
                                        class="fa fa-trash-o">样品</i></a>
                            {% endif %}

                        </td>
                        <td>
                            {% if monitor.work_function == 3 or  monitor.work_function == 4 %}
                                <a class="btn btn-danger disabled" href="#={{ monitor.id }}"><i
                                        class="fa fa-trash-o">流量</i></a>
                            {% else %}
                                <a class="btn btn-info" href="/flow/?id={{ monitor.id }}"><i
                                        class="fa fa-trash-o">流量</i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">暂时没有数据哦~</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <nav aria-label="Page navigation" class="text-right">
                <ul class="pagination">
                    {% for i in total_page %}
                        {{ i|safe }}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}

{% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">搜索监测点</h4>
                </div>
                <div class="modal-body">
                    <form class="form" method="post" action="">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="mFunc">监测方法</label>
                            <select class="form-control" id="mFunc" name="mFunc">
                                <option value="0">容器法</option>
                                <option value="1">流速法（圆管）</option>
                                <option value="2">流速法（方渠）</option>
                                <option value="3">仪器法</option>
                                <option value="4">无法监测</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="mPeople">监测者</label>
                            <input type="text" class="form-control" id="mPeople" placeholder="监测者姓名" name="mPeople">
                        </div>
                        <div class="form-group">
                            <label for="mDateStart">开始日期</label>
                            <input type="date" class="form-control datepicker datepicker-days dateStart" id="mDateStart"
                                   placeholder="选择查询开始日期" name="mDateStart">
                        </div>
                        <div class="form-group">
                            <label for="mDateEnd">结束日期</label>
                            <input type="date" class="form-control datepicker datepicker-days dateEnd" id="mDateEnd"
                                   placeholder="选择查询结束日期" name="mDateEnd">
                        </div>
                        <div class="center text-center">
                            <button type="reset" class="btn btn-danger">重置</button>
                            <button type="submit" class="btn btn-primary">确定</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exModal" tabindex="-1" role="dialog" aria-labelledby="exModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exModalLabel">批量导出设置</h4>
                </div>
                <div class="modal-body">
                    <form class="form" method="post" action="../export/">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exSelect">导出依据</label>
                            <select class="form-control" id="exSelect" name="exSelect">
                                <option value="0">按监测人导出</option>
                                <option value="1">按监测点导出</option>
                                <option value="2">全部导出</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exFunc">监测方法</label>
                            <select class="form-control" id="exFunc" name="exFunc">
                                <option value="0">容器法</option>
                                <option value="1">流速法（圆管）</option>
                                <option value="2">流速法（方渠）</option>
                                <option value="3">仪器法</option>
                                <option value="4">无法监测</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exPeople">监测者</label>
                            <input type="text" class="form-control" id="exPeople" placeholder="监测者姓名"
                                   name="exPeople">
                        </div>
                        <div class="form-group">
                            <label for="exMonitor">监测点</label>
                            <input type="text" class="form-control" id="exMonitor" placeholder="监测点号"
                                   name="exMonitor">
                        </div>
                        <div class="form-group">
                            <label for="exDateStart">开始日期</label>
                            <input type="date" class="form-control datepicker datepicker-days dateStart"
                                   id="exDateStart"
                                   placeholder="选择查询开始日期" name="exDateStart">
                        </div>
                        <div class="form-group">
                            <label for="exDateEnd">结束日期</label>
                            <input type="date" class="form-control datepicker datepicker-days dateEnd"
                                   id="exDateEnd"
                                   placeholder="选择查询结束日期" name="exDateEnd">
                        </div>
                        <div class="center text-center">
                            <button type="reset" class="btn btn-danger" id="exResetBtn">重置</button>
                            <button type="button" class="btn btn-primary" id="exSureBtn">确定</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block page-js %}

    <script type="text/javascript">

        function toUrl(url, params) {
            let paramsArr = [];
            if (params) {
                Object.keys(params).forEach(item => {
                    paramsArr.push(item + '=' + params[item]);
                });
                if (url.search(/\?/) === -1) {
                    url += '?' + paramsArr.join('&');
                } else {
                    url += '&' + paramsArr.join('&');
                }

            }
            return url;
        }

        $(document).ready(function () {
            let startDate;
            const date = new Date();
            let startMonth = date.getMonth();
            let nowMonth = startMonth + 1;
            let strDate = date.getDate();
            const seperator = '-';
            if (nowMonth >= 1 && nowMonth <= 9) {
                nowMonth = '0' + nowMonth;
            }
            if (startMonth >= 1 && startMonth <= 9) {
                startMonth = '0' + startMonth;
            }
            if (strDate >= 0 && strDate <= 9) {
                strDate = '0' + strDate;
            }
            if (startMonth == '02') {
                if (strDate == '29') {
                    startDate = '28';
                } else if (strDate == '30') {
                    startDate = '28';
                } else if (strDate == '31') {
                    startDate = '28';
                } else {
                    startDate = strDate;
                }
            } else {
                startDate = strDate;
            }

            startDate = date.getFullYear() + seperator + startMonth + seperator + startDate;
            const nowDate = date.getFullYear() + seperator + nowMonth + seperator + strDate;
            $('.dateStart').val(startDate);
            $('.dateEnd').val(nowDate);

            $('#exModalButton').on('click', function () {
                $('#exModal').modal('show');
            });

            $('#exSureBtn').on('click', function () {

                $(this).attr('disabled', 'true');
                $(this).text('正在导出...')
                $("#exResetBtn").attr('disabled', 'true');

                const exSelect = $('#exSelect').val();
                const exFunc = $('#exFunc').val();
                const exPeople = $('#exPeople').val();
                const exMonitor = $('#exMonitor').val();
                const exDateStart = $('#exDateStart').val();
                const exDateEnd = $('#exDateEnd').val();
                const data_dic = {
                    exSelect: exSelect,
                    exFunc: exFunc,
                    exPeople: exPeople,
                    exDateStart: exDateStart,
                    exDateEnd: exDateEnd,
                    exMonitor: exMonitor,
                };
                $.ajax({
                    url: '../export/',
                    type: 'POST',
                    data: data_dic,
                    success: function (response) {
                        if (response.pack) {
                            const baseUrl = '/down/';
                            const params = {
                                'file': response.pack,
                            };
                            const finalUrl = toUrl(baseUrl, params);
                            fetch(finalUrl).then(res => res.blob().then(blob => {
                                let a = document.createElement('a');
                                const url = window.URL.createObjectURL(blob);
                                const filename = response.pack;
                                a.href = url;
                                a.download = filename;
                                a.click();
                                window.URL.revokeObjectURL(url);
                            }));
                            $('#exSureBtn').removeAttr('disabled');
                            $('#exSureBtn').text("确定");
                            $("#exResetBtn").removeAttr('disabled');
                        } else {
                            alert(response.err_msg)
                            $('#exSureBtn').removeAttr('disabled');
                            $('#exSureBtn').text("确定");
                            $("#exResetBtn").removeAttr('disabled');
                        }
                    },
                    error: function (response) {
                        alert(response.err_msg);
                        $('#exSureBtn').removeAttr('disabled');
                    },
                });
            });
        });
    </script>

{% endblock %}