<!DOCTYPE html>
<html lang="zh-CN" class="gr__v3_bootcss_com">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>照片</title>
    <!--Loading bootstrap css-->
    {% load static %}
    <link type="text/css" rel="stylesheet"
          href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <link type="text/css" rel="stylesheet"
          href="{% static 'vendors/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}">
    <!--LOADING STYLESHEET FOR PAGE-->
    <link type="text/css" rel="stylesheet" href="{% static 'vendors/lightbox/css/lightbox.css' %}">
    <!--Loading style vendors-->
    <link type="text/css" rel="stylesheet" href="{% static 'vendors/animate.css/animate.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'vendors/jquery-pace/pace.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'vendors/iCheck/skins/all.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'vendors/jquery-notific8/jquery.notific8.min.css' %}">
    <link type="text/css" rel="stylesheet"
          href="{% static 'vendors/bootstrap-daterangepicker/daterangepicker-bs3.css' %}">
    <!--Loading style-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/themes/style1/orange-blue.css' %}"
          class="default-style">
    <link type="text/css" rel="stylesheet" href="{% static 'css/themes/style1/orange-blue.css' %}" id="theme-change"
          class="style-change color-change">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style-responsive.css' %}">
</head>
<body class="">

{% block page_main %}

{% endblock %}

<script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<!--loading bootstrap js-->
<script src="{% static 'vendors/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js' %}"></script>
<script src="{% static 'js/html5shiv.js' %}"></script>
<script src="{% static 'js/respond.min.js' %}"></script>
<script src="{% static 'vendors/metisMenu/jquery.metisMenu.js' %}"></script>
<script src="{% static 'vendors/slimScroll/jquery.slimscroll.js' %}"></script>
<script src="{% static 'vendors/jquery-cookie/jquery.cookie.js' %}"></script>
<script src="{% static 'vendors/iCheck/icheck.min.js' %}"></script>
<script src="{% static 'vendors/iCheck/custom.min.js' %}"></script>
<script src="{% static 'vendors/jquery-notific8/jquery.notific8.min.js' %}"></script>
<script src="{% static 'vendors/jquery-highcharts/highcharts.js' %}"></script>
<script src="{% static 'js/jquery.menu.js' %}"></script>
<script src="{% static 'vendors/holder/holder.js' %}"></script>
<script src="{% static 'vendors/responsive-tabs/responsive-tabs.js' %}"></script>
<script src="{% static 'vendors/jquery-news-ticker/jquery.newsTicker.min.js' %}"></script>
<script src="{% static 'vendors/moment/moment.js' %}"></script>
<script src="{% static 'vendors/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<!--CORE JAVASCRIPT-->
<script src="{% static 'js/main.js' %}"></script>
<!--LOADING SCRIPTS FOR PAGE-->
<script src="{% static 'vendors/mixitup/src/jquery.mixitup.js' %}"></script>
<script src="{% static 'vendors/lightbox/js/lightbox.min.js' %}"></script>
<script src="{% static 'js/page-gallery.js' %}"></script>
<script type="text/javascript">
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-145464-14', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>