{% extends  'picturebase.html' %}

{% block page_main %}
    <div>
        <!--BEGIN TITLE & BREADCRUMB PAGE-->
        <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
            <div class="page-header pull-left">
                <div class="page-title">监测点：{{ monitor.name }}</div>
            </div>

            <div class="btn btn-blue reportrange hide">
                <i class="fa fa-calendar"></i>&nbsp;<span></span>&nbsp;report&nbsp;<i class="fa fa-angle-down"></i>
                <input type="hidden" name="datestart"/>
                <input type="hidden" name="endstart"/>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--END TITLE & BREADCRUMB PAGE-->
        <!--BEGIN CONTENT-->
        <div class="page-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="portlet box portlet-green">
                        <div class="portlet-body">
                            <div class="gallery-pages">
                                <ul style="float: left;" class="list-filter list-unstyled">
                                    <li data-filter="all" class="filter active">全部</li>
                                    {% if monitor.work_function == 3 %}
                                        <li data-filter=".status" class="filter">监测点现状</li>
                                        <li data-filter=".probe" class="filter">探头</li>
                                        <li data-filter=".machine" class="filter">仪器</li>
                                        <li data-filter=".setup" class="filter">仪器设置</li>
                                        <li data-filter=".work" class="filter">工作</li>
                                        <li data-filter=".sample" class="filter">样品</li>
                                    {% elif monitor.work_function == 4 %}
                                        <li data-filter=".exterior" class="filter">外景</li>
                                        <li data-filter=".water" class="filter">水流</li>
                                    {% else %}
                                        <li data-filter=".exterior" class="filter">外景</li>
                                        <li data-filter=".water" class="filter">水流</li>
                                        <li data-filter=".work" class="filter">工作</li>
                                        <li data-filter=".sample" class="filter">样品</li>
                                    {% endif %}
                                </ul>

                                <div class="clearfix"></div>
                                <div class="row mix-grid">
                                    {% if monitor.work_function == 4 %}
                                        {% for i in exterior_photo %}
                                            <div class="col-md-3 mix exterior">
                                                <div class="hover-effect">
                                                    <div class="img">
                                                        <img src={{ i }} alt="" class="img-responsive"/>
                                                    </div>
                                                    <div class="info">
                                                        <h3>外景照</h3><a href={{ i }} data-lightbox="image-1"
                                                                       data-title="Image 1" class="mix-zoom"><i
                                                            class="glyphicon glyphicon-search"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}

                                        {% for i in water_flow_photo %}
                                            <div class="col-md-3 mix water">
                                                <div class="hover-effect">
                                                    <div class="img">
                                                        <img src={{ i }} alt="" class="img-responsive"/>
                                                    </div>
                                                    <div class="info">
                                                        <h3>水流照</h3><a href={{ i }} data-lightbox="image-1"
                                                                       data-title="Image 1" class="mix-zoom"><i
                                                            class="glyphicon glyphicon-search"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% elif monitor.work_function == 3 %}
                                        {% for i in status_photo %}
                                            <div class="col-md-3 mix status">
                                                <div class="hover-effect">
                                                    <div class="img">
                                                        <img src={{ i }} alt="" class="img-responsive"/>
                                                    </div>
                                                    <div class="info">
                                                        <h3>监测点现状</h3><a href={{ i }} data-lightbox="image-1"
                                                                         data-title="Image 1" class="mix-zoom"><i
                                                            class="glyphicon glyphicon-search"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        {% for i in probe_photo %}
                                            <div class="col-md-3 mix probe">
                                                <div class="hover-effect">
                                                    <div class="img">
                                                        <img src={{ i }} alt="" class="img-responsive"/>
                                                    </div>
                                                    <div class="info">
                                                        <h3>仪器探头</h3><a href={{ i }} data-lightbox="image-1"
                                                                        data-title="Image 1" class="mix-zoom"><i
                                                            class="glyphicon glyphicon-search"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        {% for i in machine_photo %}
                                            <div class="col-md-3 mix machine">
                                                <div class="hover-effect">
                                                    <div class="img">
                                                        <img src={{ i }} alt="" class="img-responsive"/>
                                                    </div>
                                                    <div class="info">
                                                        <h3>仪器主机</h3><a href={{ i }} data-lightbox="image-1"
                                                                        data-title="Image 1" class="mix-zoom"><i
                                                            class="glyphicon glyphicon-search"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        {% for i in setup_photo %}
                                            <div class="col-md-3 mix setup">
                                                <div class="hover-effect">
                                                    <div class="img">
                                                        <img src={{ i }} alt="" class="img-responsive"/>
                                                    </div>
                                                    <div class="info">
                                                        <h3>仪器设置</h3><a href={{ i }} data-lightbox="image-1"
                                                                        data-title="Image 1" class="mix-zoom"><i
                                                            class="glyphicon glyphicon-search"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        {% for i in work_photo %}
                                            <div class="col-md-3 mix work">
                                                <div class="hover-effect">
                                                    <div class="img">
                                                        <img src={{ i }} alt="" class="img-responsive"/>
                                                    </div>
                                                    <div class="info">
                                                        <h3>工作照</h3><a href={{ i }} data-lightbox="image-1"
                                                                       data-title="Image 1" class="mix-zoom"><i
                                                            class="glyphicon glyphicon-search"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        {% for i in sample_photo %}
                                            <div class="col-md-3 mix sample">
                                                <div class="hover-effect">
                                                    <div class="img">
                                                        <img src={{ i }} alt="" class="img-responsive"/>
                                                    </div>
                                                    <div class="info">
                                                        <h3>样品照</h3><a href={{ i }} data-lightbox="image-1"
                                                                       data-title="Image 1" class="mix-zoom"><i
                                                            class="glyphicon glyphicon-search"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {% for i in exterior_photo %}
                                            <div class="col-md-3 mix exterior">
                                                <div class="hover-effect">
                                                    <div class="img">
                                                        <img src={{ i }} alt="" class="img-responsive"/>
                                                    </div>
                                                    <div class="info">
                                                        <h3>外景照</h3><a href={{ i }} data-lightbox="image-1"
                                                                       data-title="Image 1" class="mix-zoom"><i
                                                            class="glyphicon glyphicon-search"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        {% for i in water_flow_photo %}
                                            <div class="col-md-3 mix water">
                                                <div class="hover-effect">
                                                    <div class="img">
                                                        <img src={{ i }} alt="" class="img-responsive"/>
                                                    </div>
                                                    <div class="info">
                                                        <h3>水流照</h3><a href={{ i }} data-lightbox="image-1"
                                                                       data-title="Image 1" class="mix-zoom"><i
                                                            class="glyphicon glyphicon-search"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        {% for i in  work_photo %}
                                            <div class="col-md-3 mix work">
                                                <div class="hover-effect">
                                                    <div class="img">
                                                        <img src={{ i }} alt="" class="img-responsive"/>
                                                    </div>
                                                    <div class="info">
                                                        <h3>工作照</h3><a href={{ i }} data-lightbox="image-1"
                                                                       data-title="Image 1" class="mix-zoom"><i
                                                            class="glyphicon glyphicon-search"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        {% for i in sample_photo %}
                                            <div class="col-md-3 mix sample">
                                                <div class="hover-effect">
                                                    <div class="img">
                                                        <img src={{ i }} alt="" class="img-responsive"/>
                                                    </div>
                                                    <div class="info">
                                                        <h3>样品照</h3><a href={{ i }} data-lightbox="image-1"
                                                                       data-title="Image 1" class="mix-zoom"><i
                                                            class="glyphicon glyphicon-search"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--END CONTENT-->
    </div>
{% endblock %}